<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
    <li>
    BORIBANA Holding invests in innovative companies operating in the emerging business segment of information technology.
    </li>

    <li>
    Our companies develops solutions and products with international focus.
    </li>

    <li>
    Our companies aims to coorporate for mutual interests in order to gain competitive advantages from their shared resources.
    </p>