<%= form_tag products_path, :method => :get, :id => "products_search" do %>
  <p>
    <%= text_field_tag :search, params[:search], placeholder: "Search by SKU, product name & EAN number..." %>
  </p>
  <div id="products"><%= render 'products' %></div>
<% end %>